
.app{
  
}
.game_card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  max-width: 500px;
}


/* Style for the game title */
.game_card #game_title {
  font-size: 20px;
  margin: 10px 0;
}

/* Style for the game image */
.game_card .game_image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

/* Style for platform and genre text */
.game_card .game_card_text {
  font-size: 16px;
}

/* Style for the comment section */
.comment_section {
  margin: 10px 0;
}

/* Style for individual comments */
.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  background-color: #f9f9f9;
}

/* Style for the comment input and 'Add' button */
.comment_section form {
  margin: 10px 0;
  display: flex;
}

.comment_section input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment_section button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}