/* Style for the login card */
.login_card {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style for the username and password inputs */
.username,
.password {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for the login button */
.login_card button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login_card button:hover {
  background-color: #0056b3;
}

.game_card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  max-width: 500px;
}


/* Style for the game title */
.game_card #game_title {
  font-size: 20px;
  margin: 10px 0;
}

/* Style for the game image */
.game_card .game_image {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

/* Style for platform and genre text */
.game_card .game_card_text {
  font-size: 16px;
}

/* Style for the comment section */
.comment_section {
  margin: 10px 0;
}

/* Style for individual comments */
.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  background-color: #f9f9f9;
}

/* Style for the comment input and 'Add' button */
.comment_section form {
  margin: 10px 0;
  display: flex;
}

.comment_section input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.comment_section .submit_button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.delete_button {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px solid rgb(231, 50, 50);
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px #333;
  overflow: hidden;
  transition: .5s;
  font-size: 20px;
}

.comment_section .delete_button {
  width: 25px;
  height: 25px;
  font-size: 7px;
}

.delete_button:hover {
  background-color: rgb(245, 207, 207);
  transform: scale(1.2);
  box-shadow: 0 0 4px #111;
  transition: .3s;
}

.signup_form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.signup_form input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup_form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup_form button:hover {
  background-color: #0056b3;
}

.profile_container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profile_heading {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.profile_subheading {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.password_form {
  margin-bottom: 20px;
}

.password_form p {
  font-weight: bold;
  margin-top: 10px;
}

.password_form input {
  width: 94%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password_form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password_form button:hover {
  background-color: #0056b3;
}

.disclosure{
  color: #666;
  font-size: 12px;
}

.upload_card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.upload_card h1 {
  font-size: 24px;
  color: #333;
}

.upload_card form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.upload_card input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 94%;
  font-size: 16px;
}

.upload_card input::placeholder {
  color: #999;
}

.upload_card input:focus {
  border-color: #007bff; /* Change the border color when focused */
}

.upload_card button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload_card button:hover{
  background-color: #0056b3;
}

.error {
  color: red;
  font-weight: bold;
}